@import "tailwindcss";

@theme {
  --color-primary: #2E184C;
  --color-white: #E0E0E1;
  --color-side-menu: #0F0F0F;
  --color-hover: #0F0F0F;
  --color-line: #202429;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-white);
  font-family: "Archivo";
}